@font-face {
    font-family: Lora;
    src: url(fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: Karla;
    src: url(fonts/Karla/Karla-VariableFont_wght.ttf);
}

body {
    font-family: Lora;
    background-color: #1E1E1E;
    Color: white;
}

/* Navbar */
nav {
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* Adjust the padding as needed */
}

#title {
    display: flex;
    align-items: center;
}

#title a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

#title p {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#logo {
    width: 3.625rem;
    height: 3.625rem;
    flex-shrink: 0;
    margin-left: 5.38rem;
    margin-right: 10px;
}

#logo:hover {
    cursor: pointer;
}


/* Main */
main {
    font-family: Karla;
}

#hero {
    margin-left: 6rem;
}

#hero h1 {
    font-family: Lora;
    width: 61.9375rem;
    height: 8.5625rem;
    flex-shrink: 0;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-wrap: wrap;
    margin-bottom: 0px;
}

#hero p {
    margin-top: 0px;
    display: flex;
    width: 43.9375rem;
    height: 3.625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #B8B4B4;
    font-family: Karla;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;

}

#language label {
    margin-left: 6rem;
    width: 10.1875rem;
    height: 2rem;
    flex-shrink: 0;
    color: #FCFCFC;
    font-family: Karla;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#language select {
    background-color: #1E1E1E;
    color: white;
    border: none;
    font-family: Karla;
    font-size: 1.25rem;
    margin-left: 1rem;
    width: 13rem;

}

#language select:hover {
    cursor: pointer;
}


#upload-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input#imageInput {
    transition: opacity 0.3s ease;
    margin-top: 0.2rem;
    display: inline-block;
    width: 800px;
    padding: 300px 0 0 0;
    height: 270px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('images/dropbox.svg') center center no-repeat #1e1e1e;
    border-radius: 20px;
    background-size: 800px 800px;
    border: none;
    /* Remove border */
    outline: none;
    /* Remove outline */
    appearance: none;
    /* Remove default appearance */
    -webkit-appearance: none;
    /* Remove default appearance for WebKit browsers */
    -moz-appearance: none;
    /* Remove default appearance for Mozilla browsers */
}

input#imageInput:hover {
    cursor: pointer;
    opacity: 0.7; /* Opacity on hover */
}

input#imageInput::-webkit-file-upload-button {
    display: none;
    /* Hide default file upload button for WebKit browsers */
}

input#imageInput::-moz-file-upload-button {
    display: none;
    /* Hide default file upload button for Mozilla browsers */
}

#screen2-options {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* typing text box */
h2 {
    margin-left: 55px;
}

textarea {
    width: 785px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #181818;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: #FFFFFF #FFFFFF;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    border-radius: 0.625rem;
    border: 1px solid #727272;
    margin-bottom: 20px;
    background: #181818;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #FFFFFF;
    font-family: Karla;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0;
    outline-width: 0;
    color: white;
}

#submit {
    width: 6rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 10px;
    border-width: 0px;
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
    font-family: Karla;
    line-height: normal;
    transition: box-shadow 0.2s ease-in-out;
    background:
        linear-gradient(300deg, rgba(80, 127, 237, 0.5), rgba(133, 60, 226, 0.5)) padding-box,
        linear-gradient(300deg, rgba(80, 127, 237, 0.5), rgba(133, 60, 226, 0.5)) border-box;
}

/* 2nd screen */
#uploaded_image {
    display: none;
    border-radius: 15px;
    max-width: 20rem;
    margin-bottom: 1rem;
    border: 10px solid;
    border-image: linear-gradient(to right, rgba(80, 127, 237, 0.5), rgba(133, 60, 226, 0.5));
    border-image-slice: 1;
    padding: 5px;
}

#uploaded_message {
    color: #B8B4B4;
}

#uploaded-selected-language-text {
    font-size: 0.0001px;
    color: #1E1E1E;
}

#uploaded-english-text {
    font-size: 0.0001px;
    color: #1E1E1E;
}

.buttons a {
    text-decoration: none;
}

#reupload {
    text-decoration: none;
    width: 8rem;
    height: 2.7rem;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0.1rem solid transparent;
    margin-right: 1rem;
    display: inline-block;
    background-color: transparent;
    font-weight: 400;
    font-size: 1.25rem;
    color: #fff;
    font-family: Karla;
    line-height: normal;
    background:
        linear-gradient(#1E1E1E, #1E1E1E) padding-box,
        linear-gradient(130deg, rgba(80, 127, 237, 0.616), rgba(132, 60, 226, 0.639)) border-box;
}

#convert {
    width: 8rem;
    height: 2.7rem;
    flex-shrink: 0;
    border-radius: 10px;
    border-width: 0px;
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: Karla;
    line-height: normal;
    transition: box-shadow 0.2s ease-in-out;
    background:
        linear-gradient(300deg, rgba(80, 127, 237, 0.5), rgba(133, 60, 226, 0.5)) padding-box,
        linear-gradient(300deg, rgba(80, 127, 237, 0.5), rgba(133, 60, 226, 0.5)) border-box;
    overflow: hidden;
}

#convert:hover,
#submit:hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 0px 5px 3px rgb(53, 83, 155);
    cursor: pointer;

}

#reupload:hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 0px 5px 2px rgb(132, 60, 226);
    cursor: pointer;
}

/* 3rd screen */

#screen3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#copying {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#copy {
    max-width: 1.5rem;
    cursor: pointer;
}

#copied {
    max-width: 1.5rem;
}

#screen3 #output #output-text {
    font-size: 1.25rem;
    line-height: 2rem;
}

/* Footer */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    padding: 10px;
    text-align: left;
}

#footer-declaration {
    text-align: left;
    margin-left: 5.38rem;
    color: #B8B4B4;
    width: 85.5rem;
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer-links {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-left: 5.38rem;
}

#footer-links a {
    text-decoration: none;
    color: #B8B4B4;
    margin-bottom: 2rem;
}

#footer-links h2 {
    margin: 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* spinner */
#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
}

/* information pages: */

#info-container {
    margin-left: 20vw;
    margin-right: 20vw;
}

#info-container h1,
#info-container h2 {
    font-family: Lora;
}

#info-container a {
    color: blueviolet;;
}

#info-container a:active {
    color: lightskyblue;
}

#info-content h2 {
    margin-left: 0;
}

#info-content p {
    color: #afafaf
}