@font-face {
    font-family: Lora;
    src: url(fonts/Lora/Lora-VariableFont_wght.ttf);
}

body {
    font-family: Lora;
    background-color: #1E1E1E;
    Color: white;
}

/* Navbar */
nav {
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Adjust the padding as needed */
}

#title {
    display: flex;
    align-items: center;
}

#title a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

#title p {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#logo {
    width: 3.625rem;
    height: 3.625rem;
    flex-shrink: 0;
    margin-left: 5.38rem;
    margin-right: 10px; 
}


/* Main */
main {
    margin-left: 6rem;
}

/* 1st screen */
input#imageInput {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: inline-block;
    width: 800px;
    padding: 120px 0 0 0;
    height: 270px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('images/dropbox.svg') center center no-repeat #1e1e1e;
    border-radius: 20px;
    background-size: 800px 800px;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
    -moz-appearance: none; /* Remove default appearance for Mozilla browsers */
}

input#imageInput::-webkit-file-upload-button {
    display: none; /* Hide default file upload button for WebKit browsers */
}

input#imageInput::-moz-file-upload-button {
    display: none; /* Hide default file upload button for Mozilla browsers */
}

input#imageInput::-webkit-file-upload-button {
    display: none; /* Hide default file upload button for WebKit browsers */
}

input#imageInput::-moz-file-upload-button {
    display: none; /* Hide default file upload button for Mozilla browsers */
}


#upload {
    max-width: 50px;
    height: 50px;
}

/* 2nd screen */

#hiddenrawtext {
    font-size: 0.0001px;
    color: #1E1E1E;
}

/* 3rd screen */


/* Footer */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    padding: 10px;
    text-align: left;
}

#footer-declaration {
    text-align: left;
    margin-left: 5.38rem;
    color: #B8B4B4;
    width: 85.5rem;
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer-links {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-left: 5.38rem;
}

#footer-links a {
    text-decoration: none;
    color: #B8B4B4;
    margin-bottom: 2rem;
}

#footer-links h2 {
    margin: 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
